body {
    background-color: #c1d1cf;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    margin: 120px auto;
    max-width: 600px;
}
h1 {
    color: #252925;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}
a {
    color: #252925;
    font-weight:500;
}
strong {
    color: #b338b3;
}
form {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 1px rgba(140, 153, 140, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
}
.quote-topic-input {
    border-radius: 20px;
    border: 1px solid #868585;
    font-size: 18px;
    padding: 20px;
    width: 80%;
}
.quote-topic-input:focus {
    border: 1px solid #5c5b5b;
    background-color: #e1f3f1;
    outline: none;
}
.button {
    background-color: #252925;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    padding: 20px 30px;
    margin-left: 15px;
}
.quote {
    background-color: #fff;
    border-left: #252925 5px solid;
    box-shadow: 5px 5px 2px 1px rgba(140, 153, 140, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding: 30px;
}
footer {
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
}